/*
    https://html-css-js.com/css/generator/font/
    https://www.google.com/amp/s/neilpatel.com/de/blog/7-wichtige-html-tags-die-einen-seo-experten/%3famp
*/


table {
    border:1px solid #7f8287;
    background-color: darkslategray;
    border-collapse: collapse;
    
    
    
  }
  td {
    border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font-family:courier;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: collapse;
    
  }
  th {
    border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font: bold;
    font-family:verdana;
    text-align:center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: collapse;
  }
  
  
  body{
      background-color: #1f2021;
  
  }
  h1{
      color: #7f8287;
      
  }
  h2{
    color: #7f8287;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  h3{
    color: #7f8287;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
  p{
      color: #7f8287;
  }
  a{
      color: #7f8287;
  }
  textarea{
      border:1px solid #7f8287;
    background-color: darkslategray;
    color: #7f8287;
    font-family:courier;

    
  }
  img{
      border: 0px;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      border-radius: 8px;
  }

  .working{
    border: 0px;
    max-width: 95%;
    max-height: 95%;
    border-radius: 50%;
  }
  
  .photo{
    border: 0px;
    max-width: 95%;
    max-height: 95%;
    border-radius: 50%;
  }

  .text {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 20px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    color: #BEBEBE;
    font-weight: normal;
    text-decoration: none;
    font-style: oblique;
    font-variant: small-caps;
    text-transform: capitalize;
    max-width: 95%;
  }

  .logo{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 35px;
    letter-spacing: 0.6px;
    word-spacing: 2px;
    color: #7f8287;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
  }

  .code {
    /*
    background: #f4f4f4;
    */
    background: #4c4f4d;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #BEBEBE;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 95%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
}
.menu{
    width:95%;
    

}

/*
table.steelBlueCols {
    font-family: "Lucida Console", Monaco, monospace;
    border: 4px solid #555555;
    background-color: #555555;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
  }
  table.steelBlueCols td, table.steelBlueCols th {
    border: 1px solid #555555;
    padding: 5px 10px;
  }
  table.steelBlueCols tbody td {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
  }
  table.steelBlueCols td:nth-child(even) {
    background: #398AA4;
  }
  table.steelBlueCols thead {
    background: #398AA4;
    border-bottom: 10px solid #398AA4;
  }
  table.steelBlueCols thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #398AA4;
  }
  table.steelBlueCols thead th:first-child {
    border-left: none;
  }
  
  table.steelBlueCols tfoot td {
    font-size: 13px;
  }
  table.steelBlueCols tfoot .links {
    text-align: right;
  }
  table.steelBlueCols tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #398AA4;
    padding: 2px 8px;
    border-radius: 5px;
  }
  */

